/* Box Model Hack */
* {
    box-sizing: border-box;
}


/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}


/* BASE STYLE   */

body {
    background-color: black;
    border-color: rgb(47, 51, 54);
}

/* top */
.wd-top {
    /* height: 100px; */
    border: 1px solid red;
}

input {
    background-color: darkgray;
    width: 90%;
    color: white;
    padding-top: 50px;
    border-radius: 30px;
}

wd-top img {
    margin-bottom: 30px;
    height: 50px;
    margin-left: 12px;
}


/* nav */

#firstNav {
    color: rgb(29, 161, 242);
    border-bottom: 3px solid rgb(29, 161, 242);
}

ul li {
    padding: 16px;
    color: rgb(110, 118, 125);
    float: left;
    width: 10%;
    border-bottom: 3px solid rgb(110, 118, 125);

}

li {
    list-style: none;
}


/* posts */
.wd-posts span {
    color: rgb(110, 118, 125);
}

.wd-posts{
    clear: both;
    border: 1px solid red;
}

.wd-posts section{
    margin: 15px;
    border-bottom: 1px solid grey;
}

.wd-posts h1 {
    color: white;
}

.wd-posts img{
    float: right;
    margin: 0 0 1em 1em;
}

.wd-posts h1{
    margin-right: 100px;
}

.wd-postwithpic section{
    float: left;
    width: 600px;
}

.wd-postwithpic picture{
    margin-left:  600px;
    width: 100px;
    height: 100px
}





.wd-posts h3{
    color: white;
}

